.igStyle-imageGallery {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
 }

.igStyle-imageViewer {
    border: solid thin;
    min-height: 180px;
    padding-left: 1em;
    overflow: auto;
}

.igStyle-serverErrors {
    border: 5px #aaffaa solid;
    margin-top: 10px;
    padding: 4px;
}

.igStyle-serverErrors .igStyle-errorTitle {
    font-weight:bold;
    display:block;
}

.igStyle-imageFrame {
    float: left;
    margin: 0.5em;
    max-width: 100px;
    max-height: 75px;
}

.igStyle-fileTypes {
    display:block;
    margin-left:20px;
}

.ig-settings-field {
    margin-bottom:10px;
    margin-left:1em;
}

.ig-settings #fileTypes{
    margin-left: 20px;
}