/*#uploader-contents, #single-file-uploader {*/
#uploader {
    margin-left: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 40%;
    float: left;
}

#image-viewer {
    margin-right: 2em;
    margin-top: 2em;
    width: 50%;
    float: right;
    border: solid thin;
    padding: 20px;
    min-height: 55em;
}

#demo-notes {
    margin-left: 1em;
    clear: left;
    width: 40%;
    font-size: medium;
}

#server-error {
    margin-left: 1em;
    margin-bottom: 1em;
    clear: left;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    color: #FF0000;
}

.image-frame {
    float: left;
    margin: 0.5em;
    height: 150px;
}

.settings-table {
	border-spacing: 1px
}

.no-border {
	border:0 none; 
}

.hide-me {
	visibility: hidden;
}

fieldset {
	border: 1px solid #000000;
}