.ig-uploaders {
    margin-left: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 40%;
    float: left;
}

.ig-imageViewer {
    margin-right: 2em;
    margin-top: 2em;
    width: 50%;
    float: right;
    border: solid thin;
    padding: 20px;
    min-height: 55em;
}

.ig-notes {
    margin-left: 1em;
    clear: left;
    width: 40%;
    font-size: medium;
}

.ig-serverErrors {
    margin-left: 1em;
    margin-bottom: 1em;
    clear: left;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    color: #FF0000;
}

.ig-imageFrame {
    float: left;
    margin: 0.5em;
    height: 150px;
}

.settingsTable {
	border-spacing: 1px
}

.noBorder {
	border:0 none; 
}

fieldset {
	border: 1px solid #000000;
}